<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=0">
    <meta name="theme-color" content="#4D0B5A">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Jeera College Bot">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="description" content="HSNC University College Bot: Your smart guide for quick access to academic resources, course details, and student support, enhancing your university experience efficiently.">
    <title>Jeera Bot</title>
    <link rel="manifest" href="/assets/manifest.webmanifest">
    <link rel="icon" href="/r_logo.e040c57e.png" sizes="192x192">
    <link rel="apple-touch-icon" href="/r_logo.e040c57e.png">
    <link rel="stylesheet" href="/index.91688108.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js" integrity="sha512-LhccdVNGe2QMEfI3x4DVV3ckMRe36TfydKss6mJpdHjNFiV07dFpS2xzeZedptKZrwxfICJpez09iNioiSZ3hA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <main role="main">
        <div id="chatbot">
            <nav class="header">
                <div id="menu-btn">
                    <i class="fa fa-ellipsis-v"></i>
                </div>
                <img src="/hsnc_logo.78d9159f.png" width="110" style="position: relative; top: .2rem; left: 0">
                <hr>
                <h1 class="logo">Jeera bot</h1>
                <img src="/sas_logo.6225b57f.png" width="60" style="position: absolute; top: .7rem; right: 1.3rem">
            </nav>
            <nav class="nav-menu" id="menu">
                <ul>
                    <li><a href="javascript:clearChat()"><i class="fa fa-trash"></i>&nbsp;Clear Chat</a></li>
                </ul>
            </nav>
            <div class="bg-logo">
                <img src="/r_logo.e040c57e.png">
            </div>
            <div id="chats" class="messages">
            </div>
            <div class="chat-input-container">
                <div class="chat-box">
                    <textarea type="text" class="chat-input" placeholder="Type your message..." autofocus="" rows="1"></textarea>
                    <button class="send-btn">Send</button>
                </div>
            </div>
        </div>
    </main>

    <div id="offlinePopup" class="offline-popup hidden">
        <p>You are offline. Connect to the internet.</p>
    </div>

    <div id="pwa-banner" class="pwa-banner">
        <div class="pwa-content">
            <p>Add this app to your home screen for a better experience.</p>
            <button id="install-btn" class="install-btn">Install</button>
            <button id="close-btn" class="close-btn">&times;</button>
        </div>
    </div>

    <script src="/index.4257ad4e.js" defer=""></script>
    <script src="/index.ed82e8a1.js" defer=""></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked@4.0.16/marked.min.js"></script>
    <script src="/index.9be0a954.js"></script>
    
</body>

</html>